@import "~antd/dist/antd.css";
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  span {
    color: #000;
  }
}
html {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

.App {
  display: flex;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px 0px 0px 0px;
  position: relative;
  .bolder-description {
    font-size: 16px;
    font-weight: 700;
    color: #1b1b1b;
  }
  .regular-description {
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
  }
  .medium-description {
    font-size: 15px;
    font-weight: 500;
    color: #1b1b1b;
    margin: 0;
    text-align: left;
  }
  .App__menu {
    max-width: 230px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0px 16px;
    position: fixed;
    .length-description {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      color: #898989;
    }
    .name-description {
      font-size: 26px;
      font-weight: 700;
      padding-bottom: 10px;
    }
    .input-container {
      width: 100%;
      padding: 0px 0px 3px;
      justify-content: space-between;
      display: flex;
      border: 1px solid #dbdbdb;
      padding: 5px 0px;
      border-radius: 4px;
      position: relative;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        border-color: #a7a7a7;
      }
      &:after {
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
        background-color: #dbdbdb;
      }
      .ant-input-number-handler-wrap {
        display: none;
      }
      .ant-input-number {
        width: 50%;
        border: none;
        &:hover,
        &:focus,
        &:focus-within,
        &:target {
          box-shadow: none;
        }
      }
    }
    .ant-slider {
      .ant-slider-handle {
        border: solid 2px #000 !important;
        &:hover {
          border-color: #000;
          &:focus {
            box-shadow: 0 0 0 5px rgb(255 141 0 / 12%) !important;
          }
        }
        &:focus {
          box-shadow: 0 0 0 5px rgb(255 141 0 / 12%) !important;
        }
      }
      .ant-slider-track {
        background-color: #ff681c;
      }
    }
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      .ant-checkbox-group-item {
        padding-bottom: 5px;
        align-items: flex-start;
      }
      .ant-checkbox-inner {
        height: 18px;
        width: 18px;
      }
      .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: 0px;
      }
      .ant-checkbox-checked::after {
        border: 1px solid #a7a7a7;
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #a7a7a7;
        border-color: #a7a7a7;
      }
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: #a7a7a7;
      }
      .ant-checkbox-wrapper:hover .ant-checkbox-inner {
        border-color: #a7a7a7;
      }
    }
  }
  .App__product-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 230px;
    .card-loader {
      border-radius: 8px;
      padding: 10px;
      max-height: 410px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 245px;
      margin: 0px 8px 20px;
    }
    .card-item {
      max-width: 22%;
      min-width: 215px;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      overflow: hidden;
      font-weight: 500;
      margin: 0px 8px 20px;
      display: flex;
      flex-direction: column;
      .card-image {
        position: relative;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
        .new-state {
          position: absolute;
          top: 5%;
          left: 5%;
          color: #fff;
          background-color: #44c377;
          height: 26px;
          width: 79px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .card-description {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 15px 10px 15px;
        justify-content: space-between;
        height: 32%;
        .btns-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          margin-bottom: -5px;
          cursor: pointer;
          svg {
            &:hover {
              path {
                transition: 0.3s;
                fill: hotpink;
              }
            }
          }
        }
        .card-price {
          width: 100%;
          justify-content: space-between;
          display: flex;
          align-items: flex-end;
          .new-description {
            font-size: 11px;
          }
        }
      }
      button {
        max-width: 106px;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #dbdbdb;
        background: transparent;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #44c377;
          border-color: #44c377;
          color: #fff;
          transition: 0.3s;
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 440px) {
  .App {
    flex-direction: column;
    .App__menu {
      position: relative;
      padding: 0 24px;
      .App-description {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .App__product-container {
      padding: 30px 0px;
      margin-left: 0;
      .card-loader {
        max-width: 100%;
        position: relative;
        &:after {
          content: "";
          width: auto;
          height: 1px;
          display: block;
          bottom: 0px;
          left: 10px;
          right: 0;
          position: absolute;
          background-color: #e5e5e5;
        }
      }
      .card-item {
        display: flex;
        height: auto;
        max-width: 100%;
        margin: 0px 10px;
        padding-bottom: 26px;
        border: none;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        box-sizing: border-box;
        &:after {
          content: "";
          width: 100%;
          height: 1px;
          display: block;
          bottom: 9px;
          left: 0;
          right: 0;
          position: absolute;
          background-color: #e5e5e5;
        }
        .card-image {
          height: auto;
          width: 40%;
          img {
            height: auto;
            max-width: 125px;
            max-height: 125px;
            border-radius: 10px;
          }
          .new-state {
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 60px;
            top: 5%;
            left: 10%;
          }
        }
        .card-description {
          justify-content: space-between;
          margin: 0px 10px 5px;
          width: 60%;
          height: auto;
          .medium-description {
            font-size: 12px;
          }
          .card-price {
            width: 100%;
            padding: 15px 0px 10px;
            .bolder-description {
              font-size: 16px;
              align-items: center;
            }
          }
          .btns-container {
            width: 100%;
            button {
              max-width: 106px;
              font-size: 14px;
              height: 40px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
